/* style-for-carousel */
.carousel-item img{
    height: 80vh;
    object-fit: cover;
}
.carousel-caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}