/* style-for-carousel-start-here */
.carousel-item img{
    height: 80vh;
    object-fit: cover;
}
.carousel-caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}
/* style-for-carousel-end-here */
/* style-for-course-start-here */
#courses-section{
    margin: 90px 0;
}
.coursel-text>div{
    padding: 0 200px;
}

/* style-for-course-ends-here */
/* style-for-ready-section-start-here */
#ready-section{
    margin: 70px 0;
}
/* style-for-ready-section-start-here */
#student-section{
    margin-bottom: 60px;
}
.student-text{
    width: 50%;
}

